<link rel="stylesheet" href="//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css" media="print" onload="this.media='all'">
<style>*{font-family: "LXGW WenKai Screen", sans-serif !important;}</style>